<div id="car-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="carAddOrUpdateCtrl.dismiss()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Coche</h4>
            </div>
            <div class="modal-body">
                <form novalidate name="carAddOrUpdateCtrl.frmCarEdit">
                    <h5>Datos del vehiculo</h5>
                    <clc-form-field data-field-model="carAddOrUpdateCtrl.car.model" data-field-name="model" data-field-label="Modelo" data-field-required="true" data-field-autofocus="true"></clc-form-field>
                    <clc-form-field data-field-model="carAddOrUpdateCtrl.car.registration" data-field-name="registration" data-field-label="Matricula" data-field-required="true" data-field-autofocus="true"></clc-form-field>                   
                    <clc-form-field data-field-model="carAddOrUpdateCtrl.car.franchiseeId" options="carAddOrUpdateCtrl.franchisees" field-type="select" data-field-label="Concesionario" data-field-required="true"></clc-form-field>
                    <clc-form-field data-field-model="carAddOrUpdateCtrl.car.carBrandId" options="carAddOrUpdateCtrl.carBrands" field-type="select" data-field-label="Marca" data-field-required="true"></clc-form-field>                    
                    <clc-form-field data-field-model="carAddOrUpdateCtrl.car.kilometers" data-field-name="kilometers" data-field-label="Kilometros" data-field-required="false"></clc-form-field>                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="carAddOrUpdateCtrl.dismiss()">Cerrar</button>
                <button type="button" class="btn btn-info" ng-click="carAddOrUpdateCtrl.save()" ng-disabled="!carAddOrUpdateCtrl.modelIsValid()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>